<div class="login">
    <form class="form-inline" action="/api/logout" method="get">
        <div class="form-group">
            <h1 class="loginText ">Bienvenido <b>{{datoLogin}}</b></h1>  
        </div>
       <button type="submit" class="btn btn-warning float-right">Desloguear</button>
    </form>
</div>
</br>

