<div class="">
    <h1>Login de usuario</h1> 
    <form action="/api/login" method="post">
        <div class="form-group">
            <label for="username">Ingrese su nombre</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <button class="btn btn-success">Enviar</button>
    </form>
    <br>
</div>